<html>
<head>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="w3-bar w3-black w3-hide-small">
    {% if current_user.is_authenticated %}
  <a href="{{url_for('main.profile',uname=current_user.username)}}" class="w3-bar-item w3-button w3-padding"> My Subscriptions </i></a>
  <a href="{{url_for('auth.logout')}}" class="w3-bar-item w3-button w3-right w3-padding"> Logout </i></a>
    {% else %}
  <a href="{{url_for('auth.login')}}" class="w3-bar-item w3-button"><i class="fa fa-snapchat"> Login </i></a>
     {%endif%}
</div>
        <div class="w3-center"><h4 style="text-align:center">Movie of the Day</h4>
            <h5 class="w3-center"> <em>Some Popular Movies</em></h5>
<div class="w3-row-padding">
    {% for popular_movie in popular %}
        <div class="w3-col s2 w3-margin-top w3-center ">
        <img src="{{ popular_movie.poster }}" class="w3-card-4" alt="poster"style="width:100%">
        <div class="w3-container w3-center">
        <p>{{ popular_movie.title | capitalize}}</p>
        </div>
        </div>
    {% endfor %}
</div>




 </body>
</html>